* {
	margin: 0;
	padding: 0;
}
body {
	background-color:#404040;
	margin:0;
	padding:0;
}

h1 {
	-webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #661616;
}

h1, h3 {
	margin:1em 0 1em 0;
	text-align: center;
	font-family:Verdana, san-seriff;
	color: #E97E36;
	letter-spacing: 0.15em;

}

#win h3 {
	color: lightgray;
}

#win {
	display:block;
}

#gameBoard {
	margin-top:2em;
	margin:0 auto;
	background-color:#404040;
}

.tile-bg {
	background-color:#404040;
}

.tile-space {	
	background: url("spritesheet.jpg")-1px 0;
	
}
.tile-wall {
	/*background-color: brown;*/
	background: url("spritesheet.jpg")36px 0;
}

.tile-goal {
	background: url("spritesheet.jpg")72px 0;
	/*background-color: yellow;*/
}

.entity-player {
	background: url("spritesheet.jpg")143px 0;
	/*background-color: green;*/
}

.entity-block {

	background: url("spritesheet.jpg")179px 0;
	/*background-color: red;*/
}

.entity-block-goal {
	background: url("spritesheet.jpg")107px 0;
	/*background-color: purple; */
}

#gameBoard > div {

	height:36px;
	width:36px;
	display:block;
	float:left;
	/*border: solid 1px black;*/
	
}