* {
	margin: 0;
	padding: 0;
}
body {
	margin:0;
	padding:0;
}

#container {
	margin:0 auto;
	margin-top: 2em;
	width: 684px;
	min-height:640px;
	background-color: #404040;

}

#gameBoard {
	
	background-color: blue;

}
.tile-space {
	
	background: url("spritesheet.jpg")-1px 0;
	background-color:#404040;
}
.tile-wall {
	
	/*background-color: brown;*/
	background: url("spritesheet.jpg")36px 0;
}

.tile-goal {
	background: url("spritesheet.jpg")72px 0;
	/*background-color: yellow;*/
}

.entity-player {
	background: url("spritesheet.jpg")143px 0;
	/*background-color: green;*/
}

.entity-block {
	z-index: 100;
	background: url("spritesheet.jpg")179px 0;
	/*background-color: red;*/
}

.entity-block-goal {
	background: url("spritesheet.jpg")107px 0;
	/*background-color: purple; */
}

#gameBoard > div {

	height:36px;
	width:36px;
	display:block;
	float:left;
	/*border: solid 1px black;*/
	
}